<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
    <!-- <img id="cat" src="/cat/cat_sit.png" alt="a cute cat" style="width: 52px; image-rendering: pixelated; cursor: grab; transition: left ease-out; position: fixed; bottom: 0%;" onclick="catClick()"> -->
    <script src="/cat/cat.js"></script>
  </main>
  <!-- <footer>
    {{ partial "footer.html" . }}
  </footer> -->
</body>
</html>
