:root {
  --text: white;
  --highlight: #fdee0e;
  --background: black;
}

body {
  color: var(--text);
  background-color: var(--background);
  font-family: Inconsolata, monospace, sans-serif;
  margin: 1rem;
  max-width: 768px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: var(--highlight);
  text-decoration: none;
}
